<% if current_user %>
<ul>
  <% @users.each do |user| %>
    <li><strong><%= user.user_name %></strong><br>
      <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
    </li>


  <% end %>
</ul>
<% else redirect_to root_path %>
<% end %>
