<html>
<head>
</head>
<body>
  <div class="tinted-image">
<font color="white">

<h1 text-align="center"><strong><br><font size=200>Welcome to Bump</font><strong></h1>
<p text-align="center"><a href=/users/sign_up>Sign up</a> to start finding your friends!</p>
</div>

</font>
</body>
</html>
