<style>
h1 { color: white}
p { color: white}
</style>
<div class="container-fluid">
  <h1>Welcome to Bump!</h1>
</div>
<div class="container-fluid">
  <p><strong>Find your nearby friends</strong></p>
</div>
<div class="container-fluid">
  <div class=center>
    <img src =http://bit.ly/2izKzSd>
  </div>
</div>
