<header><h1 class="display-4">Current Location</h1></header>

<div class="card">
  <div class="card-block">
    <ul>
      <% @places.each do |place| %>

        <h2>Current Location: <%= link_to place.title, place_path(place) %>
        visited by <strong> you </strong><h2>

      <% end %>
    </ul>
  </div>
</div>
